/* ==========================================================================
   SASS Functions
   ========================================================================== */
 
@mixin dimension($val, $vil){
	width: $val;
	height: $vil; 
}

@mixin font-family($val){
	
}
 
@mixin box-sizing($val){
    box-sizing: $val;  
    -moz-box-sizing: $val; /*Firefox 1-3*/  
    -webkit-box-sizing: $val; /* Safari */  
}

@function substraction($some-number, $another-number){
  @return $some-number + $another-number
}

@mixin transition ($val){
	-webkit-transition: all ease-in-out $val;
    -moz-transition: all ease-in-out $val;
    -o-transition: all ease-in-out $val;
    transition: all ease-in-out $val;
}

@mixin border-radius($val){
	-webkit-border-radius: $val;
    -moz-border-radius: $val;
    -o-border-radius: $val;
    border-radius: $val;
}
  
/* ==========================================================================
   Common
   ========================================================================== */

.s_tbl{
	
	display: table;
	width: 100%;
	height: inherit;
	
	.s_cl{
		
		@include dimension(100%, inherit);
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		position: relative;
	}
}

/* ==========================================================================
   Admin panel
   ========================================================================== */
   
.header_admin {
	height: 50px;
	overflow: hidden;
	width: 100%;
	display: block;
}

.admin_logo {
	width: 240px;
	float: left;
	display: block;
	height: inherit;
	background: #d4ac6e;
}

.admin_id {
	float: left;
	display: block;
	height: inherit;
	background: #1b1f22;
	line-height: 50px;
	color: #fff;
	padding-left:20px;
	padding-right:20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	text-align: right;
}

.admin_id .sep {
	margin-left: 10px;
	margin-right: 10px;
}
.admin_id a {
	color: #fff;
}
.admin_id a:hover {
	color: #00f;
}

.admin_logo p {
	height: 50px; 
	color: #fff;
	word-wrap:break-word;
	font-size: 14px;
	line-height: 50px
}

/**/

.sidebar_admin {
	width: 240px;
	display: block;
	float: left;
	overflow-y: auto;
	background: #1b1f22;
}

.sidebar_admin ul {
	display: block;
}

.sidebar_admin ul li {
	display: block;
	width: 100%;
	margin: 0 !important;
	position: relative;
}

.sidebar_admin ul li a {
	height: 38px;
	width: 100%;
	display: block;
	line-height: 38px;
	color: #fff;
	text-decoration: none;
	text-indent: 20px;
	border-bottom: #343436 1px solid;
	//border-top: #59595c 1px solid;
}	

/*.sidebar_admin > ul > li > a:before {
	content: "";
	background: url('../img/arrow.png') no-repeat;
	width: 10px;
	height: 10px;
	display: block;
	position: absolute;
	right:12px;
	top: 14px;
}	*/

.no_arrow:before {
	content: "";
	background: none !important;
}

li:hover ._home_tombol:before,
li:hover ._organisasi_tombol:before,
li:hover ._publikasi_tombol:before,
li:hover ._anggota_tombol:before,
li:hover ._kontak_tombol:before
{
-webkit-transition: all 100ms linear 100ms; /* For Safari 3.1 to 6.0 */
    transition: all 100ms linear 100ms;
transform:rotate(90deg);
-ms-transform:rotate(90deg); /* IE 9 */
-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */

}
.sidebar_admin * {
	font-size: 14px;
}

.sidebar_admin ul {
	padding-left: 0px;
	}

.sidebar_admin ul li a:hover {
	background: #313131;
}	
.sidebar_admin ul li a:active {
	background: #000;
}	



.sidebar_admin > ul > li > ul > li > a  {
	height: 38px;
	width: 100%;
	display: block;
	line-height: 38px;
	color: #fff;
	text-decoration: none;
	text-indent: 44px;
	border-bottom: #343436 1px solid;
	border-top: #59595c 1px solid;
}	
.sidebar_admin > ul > li > ul {
	margin: 0 !important;
	
}	

/**/

.admin_content_container {
	display: block;
	width: 100%;
}

.admin_control_panel {
	display: block;
	float: left;
	overflow-y: auto;
	background: #fff; 

	* {
		font-size: 16px;
	}

	h1 { 
		margin-top: 20px;
		font-size: 24px;
	}
}

/* ==========================================================================
   Mod
   ========================================================================== */

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #fcf5dd;
}
