/* ==========================================================================
   SASS Functions
   ========================================================================== */
/* ==========================================================================
   Common
   ========================================================================== */
/* line 42, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
.s_tbl {
  display: table;
  width: 100%;
  height: inherit;
}
/* line 48, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
.s_tbl .s_cl {
  width: 100%;
  height: inherit;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

/* ==========================================================================
   Admin panel
   ========================================================================== */
/* line 62, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
.header_admin {
  height: 50px;
  overflow: hidden;
  width: 100%;
  display: block;
}

/* line 69, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
.admin_logo {
  width: 240px;
  float: left;
  display: block;
  height: inherit;
  background: #d4ac6e;
}

/* line 77, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
.admin_id {
  float: left;
  display: block;
  height: inherit;
  background: #1b1f22;
  line-height: 50px;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
}

/* line 94, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
.admin_id .sep {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 98, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
.admin_id a {
  color: #fff;
}

/* line 101, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
.admin_id a:hover {
  color: #00f;
}

/* line 105, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
.admin_logo p {
  height: 50px;
  color: #fff;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 50px;
}

/**/
/* line 115, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
.sidebar_admin {
  width: 240px;
  display: block;
  float: left;
  overflow-y: auto;
  background: #1b1f22;
}

/* line 123, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
.sidebar_admin ul {
  display: block;
}

/* line 127, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
.sidebar_admin ul li {
  display: block;
  width: 100%;
  margin: 0 !important;
  position: relative;
}

/* line 134, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
.sidebar_admin ul li a {
  height: 38px;
  width: 100%;
  display: block;
  line-height: 38px;
  color: #fff;
  text-decoration: none;
  text-indent: 20px;
  border-bottom: #343436 1px solid;
}

/*.sidebar_admin > ul > li > a:before {
	content: "";
	background: url('../img/arrow.png') no-repeat;
	width: 10px;
	height: 10px;
	display: block;
	position: absolute;
	right:12px;
	top: 14px;
}	*/
/* line 157, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
.no_arrow:before {
  content: "";
  background: none !important;
}

/* line 167, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
li:hover ._home_tombol:before,
li:hover ._organisasi_tombol:before,
li:hover ._publikasi_tombol:before,
li:hover ._anggota_tombol:before,
li:hover ._kontak_tombol:before {
  -webkit-transition: all 100ms linear 100ms;
  /* For Safari 3.1 to 6.0 */
  transition: all 100ms linear 100ms;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Opera, Chrome, and Safari */
}

/* line 175, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
.sidebar_admin * {
  font-size: 14px;
}

/* line 179, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
.sidebar_admin ul {
  padding-left: 0px;
}

/* line 183, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
.sidebar_admin ul li a:hover {
  background: #313131;
}

/* line 186, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
.sidebar_admin ul li a:active {
  background: #000;
}

/* line 192, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
.sidebar_admin > ul > li > ul > li > a {
  height: 38px;
  width: 100%;
  display: block;
  line-height: 38px;
  color: #fff;
  text-decoration: none;
  text-indent: 44px;
  border-bottom: #343436 1px solid;
  border-top: #59595c 1px solid;
}

/* line 203, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
.sidebar_admin > ul > li > ul {
  margin: 0 !important;
}

/**/
/* line 210, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
.admin_content_container {
  display: block;
  width: 100%;
}

/* line 215, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
.admin_control_panel {
  display: block;
  float: left;
  overflow-y: auto;
  background: #fff;
}
/* line 221, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
.admin_control_panel * {
  font-size: 16px;
}
/* line 225, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
.admin_control_panel h1 {
  margin-top: 20px;
  font-size: 24px;
}

/* ==========================================================================
   Mod
   ========================================================================== */
/* line 235, E:/xampp/htdocs/bpjs_bdv/public/assets/css/brauch_style.scss */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #fcf5dd;
}
