/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/
/* line 31, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
a, abbr, acronym, address, applet, article, aside, audio,
b, big, blockquote, body,
canvas, caption, center, cite, code,
dd, del, details, dfn, dialog, div, dl, dt,
em, embed,
fieldset, figcaption, figure, font, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, hr, html,
i, iframe, img, ins,
kbd,
label, legend, li,
main, mark, menu, meter,
nav,
object, ol, output,
p, pre, progress,
q,
rp, rt,
ruby,
s, samp, section, small, span, strike, strong, sub, summary, sup,
table, tbody, td, tfoot, th, thead, time, tr, tt,
u, ul,
var, video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0;
  font-family: pn_regular, sans-serif;
  font-weight: 400;
  /*400 is normal*/
  /*300*/
  color: #232323;
  word-wrap: break-word;
}

/* line 45, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
html,
body {
  height: 100%;
}

/* line 59, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  /*
    Override the default (display: inline) for
    browsers that do not recognize HTML5 tags.
  
    IE8 (and lower) requires a shiv:
    http://ejohn.org/blog/html5-shiv
  */
  display: block;
}

/* line 76, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
p {
  line-height: 1.7em;
}

/* line 81, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
b, .strong,
strong {
  /*
    Makes browsers agree.
    IE + Opera = font-weight: bold.
    Gecko + WebKit = font-weight: bolder.
  */
  font-weight: bold;
}

/* line 89, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  /*
    For IE.
    http://css-tricks.com/ie-fix-bicubic-scaling-for-images
  */
  -ms-interpolation-mode: bicubic;
}

/* line 100, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
ol,
ul {
  list-style: none;
}

/* line 103, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
li {
  /*
    For IE6 + IE7:
  
    "display: list-item" keeps bullets from
    disappearing if hasLayout is triggered.
  */
  display: list-item;
}

/* line 112, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 118, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

/* line 123, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
q {
  quotes: none;
}

/* line 127, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
q:before,
q:after {
  content: "";
  content: none;
}

/* line 133, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
sub,
sup,
small {
  font-size: 75%;
}

/* line 137, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 142, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
sub {
  bottom: -0.25em;
}

/* line 145, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
sup {
  top: -0.5em;
}

/* line 148, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
svg {
  /*
    For IE9. Without, occasionally draws shapes
    outside the boundaries of <svg> rectangle.
  */
  overflow: hidden;
}

/*
  Custom reset
*/
/* line 159, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
a {
  text-decoration: none;
}

/* line 163, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
a.link {
  text-decoration: none;
}

/* line 170, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
a.button, input[type=submit],
input[type=email],
input[type=button],
textarea {
  -webkit-appearance: none;
  cursor: pointer;
}

/* line 175, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
a.button, input[type=submit], input[type=button] {
  height: 46px;
  line-height: 46px;
  background: #14c760;
  padding: 0 50px 0 50px;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  color: #fff !important;
  border: none !important;
  margin-top: 60px;
  font-size: 18px;
}

/* line 188, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
a.button:active, input[type=submit]:active, input[type=button]:active {
  height: 46px;
  line-height: 46px;
  background: #123;
  padding: 0 50px 0 50px;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  color: #fff !important;
  border: none !important;
  margin-top: 60px;
  font-size: 18px;
}

/* line 201, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
a.button_holow {
  height: 68px;
  line-height: 68px;
  padding: 0 50px 0 50px;
  display: inline-block;
  text-decoration: none;
  font-size: 24px;
  font-family: pn_regular;
  background-color: none;
  text-transform: uppercase;
}
/* line 212, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
a.button_holow.wht {
  border: 5px solid #fff;
  color: #fff;
}
/* line 216, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
a.button_holow.wht:hover {
  background-color: #fff;
  color: #676767;
  -webkit-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  font-family: pn_semibold;
}
/* line 222, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
a.button_holow.wht:active {
  background-color: #343434;
  color: #fff;
  -webkit-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  font-family: pn_regular;
}
/* line 230, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
a.button_holow.blk {
  border: 5px solid #232323;
  color: #232323;
}

/* line 238, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
p {
  text-align: justify;
}

/* line 242, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
::selection {
  background: #f0a92d;
  /*#b57b15*/
  color: #000;
}

/* Gecko/Mozilla */
/* line 247, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
::-moz-selection {
  background: #f0a92d;
  /*#b57b15*/
  color: #000;
}

/* Webkit */
/* line 252, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
::-webkit-selection {
  background: #f0a92d;
  /*#b57b15*/
  color: #000;
}

/* Opera */
/* line 257, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
::-o-selection {
  background: #f0a92d;
  /*#b57b15*/
  color: #000;
}

/* Ms */
/* line 262, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
::-ms-selection {
  background: #f0a92d;
  /*#951b81*/
  color: #000;
}

/*--------------------------------------------label, input text, and inpute pass Mod------------------------------------*/
/* line 268, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
label {
  width: 220px;
  display: inline-block;
}

/* line 272, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
input[type=text], input[type=password] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  height: 40px;
  text-indent: 10px;
  border: 1px solid #e1e1e1;
  padding-left: 5px;
  padding-right: 5px;
  outline: none;
  font-weight: 300;
}

/* line 290, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
input[type=text]:focus, input[type=password]:focus {
  height: 40px;
  text-indent: 10px;
  border: 1px solid #8bc08b;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 300;
}

/* line 305, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
select {
  height: 40px;
  border: 1px solid #e1e1e1;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 10px 0 0;
  outline: none;
}
/* line 313, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
select:focus {
  border: 1px solid #8bc08b;
}

/* line 319, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
textarea {
  border: 1px solid #e1e1e1;
  outline: none;
  font-family: 'Open Sans';
  letter-spacing: 0.05em;
  font-size: 15px;
}
/* line 327, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
textarea:focus {
  border: 1px solid #8bc08b;
}

/*


/*--------------------------------------------Font Size------------------------------------*/
/* line 337, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.fnts_15 {
  font-size: 15px !important;
  /*15px*/
}

/* line 341, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.fnts_18 {
  font-size: 18px !important;
  /*1em = 18px*/
}

/* line 345, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.fnts_20 {
  font-size: 20px !important;
  /*20px*/
}

/* line 349, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.fnts_22 {
  font-size: 22px !important;
  /*22px*/
}

/* line 353, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.fnts_24 {
  font-size: 24px !important;
  /*24px*/
}

/* line 357, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.fnts_36 {
  font-size: 36px !important;
  /*24px*/
}

/* line 361, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.fnts_48 {
  font-size: 48px !important;
  /*24px*/
}

/* line 365, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.fnts_60 {
  font-size: 60px !important;
  /*24px*/
}

/* line 369, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.linh_48 {
  line-height: 48px !important;
}

/*--------------------------------------------Color------------------------------------*/
/* line 374, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.clr_white {
  color: #fff;
}

/* line 378, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.clr_green {
  color: #228b22;
}

/* line 382, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.clr_red {
  color: #CC0000;
}

/*--------------------------------------------Bg Color------------------------------------*/
/* line 388, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.bgclr_white {
  background: #fff;
}

/* line 392, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.bgclr_white_08 {
  background: rgba(255, 255, 255, 0.8);
}

/* line 396, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.bgclr_green {
  background: #228b22;
}

/*--------------------------------------------Title------------------------------------*/
/* line 401, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.t_48 {
  font-size: 2.6666666666666666666666666666667em;
  /*48/18*/
  line-height: 1em;
  letter-spacing: -0.05em;
  margin-bottom: 10px;
}

/* line 408, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.t_60 {
  font-size: 3.3333333333333333333333333333333em;
  /*48/18*/
  line-height: 1em;
  letter-spacing: -0.05em;
  margin-bottom: 17px;
}

/*--------------------------------------------SubTitle------------------------------------*/
/* line 415, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.st_14 {
  font-size: 0.77777777777777777777777777777778em;
  line-height: 1em;
  letter-spacing: 0.4em;
  margin-top: 20px;
}

/*--------------------------------------------Display------------------------------------*/
/* line 422, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.d_tbl {
  display: table !important;
}

/* line 426, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.d_blk {
  display: block !important;
}

/* line 430, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.d_tblc {
  display: table-cell !important;
  vertical-align: middle;
}

/*--------------------------------------------Margin------------------------------------*/
/* line 435, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.mt_120 {
  margin-top: 120px;
}

/* line 439, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.mt_93 {
  margin-top: 93px;
}

/* line 443, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.mt_90 {
  margin-top: 90px;
}

/* line 447, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.mt_60 {
  margin-top: 60px !important;
}

/* line 451, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.mt_40 {
  margin-top: 40px !important;
}

/* line 455, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.mt_30 {
  margin-top: 30px !important;
}

/* line 459, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.mt_20 {
  margin-top: 20px !important;
}

/* line 463, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.mt_10 {
  margin-top: 10px !important;
}

/* line 467, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.mt_5 {
  margin-top: 5px !important;
}

/* line 471, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.mb_240 {
  margin-bottom: 240px !important;
}

/* line 475, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.mb_120 {
  margin-bottom: 120px !important;
}

/* line 479, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.mb_60 {
  margin-bottom: 60px !important;
}

/* line 483, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.mb_40 {
  margin-bottom: 40px !important;
}

/* line 487, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.mb_30 {
  margin-bottom: 30px !important;
}

/* line 491, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.mb_20 {
  margin-bottom: 20px !important;
}

/* line 494, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.mb_10 {
  margin-bottom: 10px !important;
}

/* line 497, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.mb_5 {
  margin-bottom: 5px !important;
}

/* line 501, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.ml_20 {
  margin-left: 20px !important;
}

/* line 505, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.ml_30 {
  margin-left: 30px !important;
}

/* line 509, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.ml_40 {
  margin-left: 40px !important;
}

/* line 513, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.mlr_a {
  margin-left: auto !important;
  margin-right: auto !important;
}

/*--------------------------------------------Padding------------------------------------*/
/* line 518, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.pd_30 {
  padding: 30px;
}

/* line 522, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.pd_20 {
  padding: 20px !important;
}

/* line 526, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.pdt_20 {
  padding-top: 20px !important;
}

/* line 530, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.pdr_40 {
  padding-right: 40px !important;
}

/*--------------------------------------------Width------------------------------------*/
/* line 534, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.wdth_940 {
  width: 940px !important;
}

/* line 537, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.wdth_920 {
  width: 920px !important;
}

/* line 540, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.wdth_900 {
  width: 900px !important;
}

/* line 543, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.wdth_420 {
  width: 400px !important;
}

/*--------------------------------------------Position------------------------------------*/
/* line 548, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.p_rel {
  position: relative !important;
}

/* line 552, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.p_abs {
  position: absolute !important;
}

/*--------------------------------------------Overflow------------------------------------*/
/* line 556, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.of_hide {
  overflow: hidden !important;
}

/* line 560, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.of_x_hide {
  overflow-x: hidden !important;
}

/*--------------------------------------------Text Align------------------------------------*/
/* line 565, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.tal_c {
  text-align: center !important;
}

/* line 569, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.tal_r {
  text-align: right !important;
}

/* line 573, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.tal_l {
  text-align: left !important;
}

/* line 577, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.tal_j {
  text-align: justify !important;
}

/*--------------------------------------------Button, Submit, and Link Mod------------------------------------*/
/* line 581, E:/xampp/htdocs/bpjs_siaga/public_html/rubirosagoods.com/assets/css/reset.scss */
.mh_res {
  min-height: 600px !important;
}
